img {
  height: 120px;
}

hr{

  border-style: dotted none none;
  height: 0;
  border-color: grey;
  border-width: 4px;
  width:  100%;


}

h1 {
  color: #281207;
}

h3{
  padding-left: 3%;
}


body {
  background-color:#f3eae8;
}

.emoji-size {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

a {
  text-decoration: none;
  color:dodgerblue
}
a:hover {
  text-decoration: none;
  border-bottom: 2px solid #f3eae8;
  color: lightskyblue;
}

.intro {
  padding-left: 1%;
}
